.hero {
  h1 {
    font-size: 90px;
    line-height: 90px;
    span {
      font-weight: bold;
    }
  }
  p {
    font-weight: 24px;
    line-height: 30px;
    font-weight: 300;
    span {
      font-weight: 500;
    }
  }
  form {
    position: relative;
    input {
      width: 100%;
      border-radius: 20px;
      border: 1px solid #E3E3E3;
      padding: 10px;
    }
    button {
      position: absolute;
      right: 0;
      height: 100%;
      display: flex;
      top: 0;
      align-items: center;
    }
  }
}